.cadastroFuncionario{
    padding: 1em;
    position: relative;
    background: var(--corDasSessoes);
    border-radius: 12px;
    width: 940px;
    margin: 0 auto;
}
.cadastroFuncionario__titulo{
    font-size: 2em;
    text-align: center;
    
}
.fa-circle-xmark{
    color: var(--corAviso);
    cursor: pointer;
    top: 1em;
    right: 1em;
    position: absolute;
}
.cadastroFuncionario__formulario{
    padding: 3em;
    display: flex;
    flex-direction: column;
}
.formulario__descricao{
    padding: .5em 0;
    color: var(--corDaFontePrincipal);
}
.formulario__input-grande,.formulario__input-pequeno{
    border: none;
    background-color: var(--corDeFundoPagina);
    border-radius: 8px;
    height: 2.5em;
}
.formulario__input-grande{
    width: 100%;
}
.formulario__input-pequeno{
    width: 35%;
}
.formualario__botao{
    color: var(--corFonte_secundaria);
    margin: 3em auto;
    background-color: var(--corDeDestaque);
    width: 15em;
    height: 2.5em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}