.backdropFilter-invivel_JS--funcionario{
    display: none;
}

.backdropFilter-aprente--funcionario{

    position: fixed;
    backdrop-filter: brightness(0.5);    
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
}

.ocultaCadastro_JS--funcionario{
    display: none;
}
.cadastroFuncionario{
    padding: 1em;
    position: fixed;
    background: var(--corDasSessoes);
    border-radius: 12px;
    width: 940px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.cadastroFuncionario__titulo{
    font-size: 2em;
    text-align: center;
    
}
.fa-circle-xmark{
    color: var(--corAviso);
    cursor: pointer;
    top: 1em;
    right: 1em;
    position: absolute;
}
.cadastroFuncionario__formulario{
    padding: 3em;
    display: flex;
    flex-direction: column;
}
